<%= form_with model: @order, url: orders_path, local: true do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :street %>
    <%= form.text_field :street, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :province_id, "Province" %>
    <%= form.collection_select :province_id, Province.all, :id, :name, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, class: 'form-control' %>
  </div>
  <%= form.submit 'Complete Order', class: 'btn btn-primary' %>
<% end %>
