<!DOCTYPE html>
<html>
<head>
  <title>Order Invoice</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f9;
      margin: 0;
      padding: 20px;
    }
    .container {
      width: 80%;
      margin: 0 auto;
    }
    h1, h2 {
      color: #333;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    ul li {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Invoice</h2>
    <h1>Order <%= @order.id %></h1>
    <p>Placed on <%= @order.created_at.strftime("%B %d, %Y") %></p>

    <h2>Customer Details</h2>
    <p>Name: <%= @order.user.first_name %> <%= @order.user.last_name %></p>
    <p>Email: <%= @order.user.email %></p>
    <p>Address: <%= @order.street %>, <%= @order.city %>, <%= @order.province %>, <%= @order.postal_code %></p>
    <p>Phone: <%= @order.user.phone_number %></p>

    <h2>Order Details</h2>
    <ul>
      <% @order.order_items.each do |item| %>
        <li><%= item.teddy_type.teddy_name %> - Quantity: <%= item.quantity %> - Price: <%= number_to_currency(item.price) %></li>
      <% end %>
    </ul>
    <p>Total Price: <%= number_to_currency(@order.subtotal) %></p>

    <h2>Taxes</h2>
    <ul>
      <% @taxes.each do |tax_name, tax_amount| %>
        <li><%= tax_name.to_s.humanize %>: <%= number_to_currency(tax_amount) %></li>
      <% end %>
    </ul>

    <h2>Grand Total: <%= number_to_currency(@order.total_amount) %></h2>
  </div>
</body>
</html>
