<div class="teddy-type-details text-center max-w-lg mx-auto mt-8 p-4 bg-white rounded shadow">
  
 
  <h1 class="text-2xl font-bold mb-4"><%= @teddy_type.teddy_name %></h1>
  <% if @teddy_type.image.attached? %>
    <div class="teddy-image-wrapper mb-4">
      <%= image_tag url_for(@teddy_type.image), class: "teddy-image-large w-full h-auto" %>
    </div>
  <% end %>
  <p class="text-gray-700 mb-4"><%= @teddy_type.description %></p>
  <p class="font-bold">Price: <%= number_to_currency(@teddy_type.price) %></p>
  <p class="font-bold">Stock Quantity: <%= @teddy_type.stock_quantity %></p>
  <p class="font-bold">Category: <%= link_to @teddy_type.category.category_name, category_path(@teddy_type.category) %></p>
</div>