<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body class="bg-gray-100 text-gray-900">
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
    
    
      <main class="w-3/4 ml-4">
        <%= render_breadcrumbs %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
